<header class="header">
  <div class="headerContainer">
    <div class="logo">
      <img class="logoIcon" src="assets/icons/angular-icon.svg" alt="logo">
      <div class="logoItem">Aspose</div>
    </div>

    <nav class="navbar">
      <a class="navLink" href="#">Products</a>
      <a class="navLink" href="#">Purchase</a>
      <a class="navLink" href="#">Support</a>
      <a class="navLink" href="#">Websites</a>
      <a class="navLink" href="#">About</a>
    </nav>

    <div class="menu">
      <div class="menuItem">
        <img class="searchIcon" src="assets/icons/search.svg" alt="search">
      </div>
      <div class="menuItem">
        <img class="userIcon" src="assets/icons/user.svg" alt="user">
      </div>
    </div>
  </div>
</header>
