<main class="main">
  <div class="mainContainer">
    <h1 class="title">PDF Editor</h1>
    <div class="editor">
      <div class="firstBlock">
        <img class="btnItem" src="assets/panel/add-file.svg" alt="add-file">
        <img class="btnItem" src="assets/panel/save-file.svg" alt="save-file">
        <img class="btnItem" src="assets/panel/rotate-left.svg" alt="rotate-left">
        <img class="btnItem" src="assets/panel/rotate-right.svg" alt="rotate-right">
        <img class="btnItem" src="assets/panel/table.svg" alt="table">
      </div>
      <div class="secondBlock">
        <img class="btnItem" src="assets/panel/arrow-pointer.svg" alt="arrow-pointer">
        <img class="btnItem" src="assets/panel/pencil.svg" alt="pencil">
        <img class="btnItem" src="assets/panel/bold.svg" alt="bold">
        <img class="btnItem" src="assets/panel/italic.svg" alt="italic">
        <img class="btnItem" src="assets/panel/underline.svg" alt="underline">
        <img class="btnItem" src="assets/panel/align-center.svg" alt="align-center">
        <img class="btnItem" src="assets/panel/spell-check.svg" alt="spell-check">
        <img class="btnItem" src="assets/panel/text-height.svg" alt="text-height">
        <img class="btnItem" src="assets/panel/brush.svg" alt="brush">
        <img class="btnItem" src="assets/panel/eye-dropper.svg" alt="eye-dropper">
        <img class="btnItem" src="assets/panel/plus.svg" alt="plus">
        <img class="btnItem" src="assets/panel/minus.svg" alt="minus">
        <img class="btnItem" src="assets/panel/chart-line.svg" alt="chart-line">
        <img class="btnItem" src="assets/panel/photo-film.svg" alt="photo-film">
        <img class="btnItem" src="assets/panel/file.svg" alt="file">
      </div>
      <div class="thirdBlock">
        <img class="btnItem" src="assets/panel/circle-question.svg" alt="circle-question">
        <img class="btnItem" src="assets/panel/print.svg" alt="print">
        <img class="btnItem" src="assets/panel/share.svg" alt="share">
        <img class="btnItem" src="assets/panel/settings.svg" alt="settings">
        <img class="btnItem" src="assets/panel/ellipsis.svg" alt="ellipsis">
      </div>
    </div>
    <div class="document">Document</div>
  </div>
</main>
