.main {
  grid-area: main;
  background-color: #006BB0;
  height: 100%;
}

.mainContainer {
  max-width: 1440px;
  margin: 0 auto;
}

.title {
  padding: 10px;
  text-align: center;
  color: #fff;
}

.editBlock {
  border-radius: 3px;
  height: 50px;
  background-color: #fff;
  margin-bottom: 10px;
}

.fileBlock {
  text-align: center;
  font-size: 30px;
  height: 650px;
  background-color: #fff;
  border: 1px solid black;
}
